{% extends "admin/base.html" %}
{% load i18n static %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'core/css/admin_custom.css' %}">
{% endblock %}

{% block userlinks %}
    <a href="/calendar/">🧘‍♀️ Календарь</a> / 
    <a href="/profile/">👤 Личный кабинет</a> / 
    <a href="/logout/">Выйти</a>
    {{ block.super }}
{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">Yoga CRM - Администрирование</a></h1>
{% endblock %}

{% block nav-sidebar %}
{% include 'core/includes/sidebar.html' %}
{% endblock %}