{% extends "admin/base.html" %}
{% load i18n static %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'core/css/admin_custom.css' %}">
{% endblock %}

{% block usertools %}
<!-- Блок usertools отключен, так как используется боковое меню -->
{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">Yoga CRM - Администрирование</a></h1>
{% endblock %}

{% block nav-sidebar %}
{% include 'core/includes/sidebar.html' %}
{% endblock %}