{% extends "admin/index.html" %}
{% load i18n %}

{% block content %}
<div class="module">
    <table>
        <thead>
            <tr>
                <th colspan="2">{% translate 'Quick links' %}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="{{ calendar_url }}">🧘‍♀️ Календарь занятий</a></td>
                <td>{% translate 'View calendar' %}</td>
            </tr>
            <tr>
                <td><a href="{{ profile_url }}">👤 Личный кабинет</a></td>
                <td>{% translate 'View profile' %}</td>
            </tr>
        </tbody>
    </table>
</div>
{{ block.super }}
{% endblock %}
