TELEGRAM_BOT_TOKEN=8907077495:asdasdIqdfgdfgdfgjasdasdasddasdasd-asdasdasd
DJANGO_SECRET_KEY=your-secdfgdfg+2-3+4
VK_SERVICE_KEY=ваш_сервисный_ключ_доступа_vk
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost,testserver
VK_CLIENT_ID=ваш_client_id_для_vk_auth