TELEGRAM_BOT_TOKEN=ваш_токен_бота_telegram
TELEGRAM_BOT_USERNAME=ваш_username_бота
DJANGO_SECRET_KEY=ваш-секретный-ключ-django
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost,testserver
VK_SERVICE_KEY=ваш_сервисный_ключ_доступа_vk
VK_CLIENT_ID=ваш_client_id_для_vk_auth